{{- if .Values.authService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "macromind.labels" . | nindent 4 }}
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: auth-service
{{- end }}

